.overlay-scrollbar {
  scrollbar-width: none;
}
.overlay-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.overlay-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}
.overlay-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}
